<h2>Permission management</h2>
<button type="button" class="btn btn-success" ng-click="openCreateModal()"><i class="glyphicon glyphicon-plus"></i>
</button>

<div class="user-management">

    <div class="table-responsive">
        <table ng-cloak class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Value</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="permission in permissions">
                <th scope="row">{[{ permission.id }]}</th>
                <td>{[{ permission.name }]}</td>
                <td>{[{ permission.value }]}</td>
                <td>
                    <button ng-show="$root.authenticatedUser.permissions.includes('update_permission')" type="button" class="btn btn-primary" ng-click="openUpdateModal($index)"><i
                            class="glyphicon glyphicon-pencil"></i></button>
                    <button ng-show="$root.authenticatedUser.permissions.includes('delete_permission')" type="button" class="btn btn-danger" ng-click="openDeletePopup($index)"><i
                            class="glyphicon glyphicon-remove"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<permission-detail-modal></permission-detail-modal>
