<div class="modal fade" id="permissionDetailModal" permission="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cancelHandler()">&times;</button>
                <h4 class="modal-title">{[{ $ctrl.actionType == 'create' ? 'Create' : 'Update' }]} Permission</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="permissionForm" id="permissionForm">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="name">Name</label>
                        <div class="col-sm-9">
                            <input ng-model="$ctrl.permission.name" type="text" class="form-control" name="name" id="name" required ng-pattern="/^[a-zA-Z ]*$/">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="value">Value</label>
                        <div class="col-sm-9">
                            <input ng-model="$ctrl.permission.value" type="text" class="form-control" name="name" id="value" required ng-pattern="/^[a-zA-Z _]*$/">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$ctrl.submitHandler()" >Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.cancelHandler()" >Close</button>
            </div>
        </div>
    </div>
</div>