.navbar {
    background: #2b3e51;
    color: white;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color: white;
}

.navbar .nav>li>a:focus, .navbar .nav>li>a:hover {
    background-color: #425e7b !important;
}

.navbar a:focus, .navbar a:hover {
    color: white
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.ng-touched.ng-invalid {
    border-color: red !important;
}

input[type='radio'].ng-touched.ng-invalid ~ label {
    color: red;
}