<h2>User management</h2>
<button  type="button" class="btn btn-success" ng-click="openCreateUserModal()"><i class="glyphicon glyphicon-plus"></i>
</button>

<div class="user-management">

    <div class="table-responsive">
        <table ng-cloak class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Full Name</th>
                <th scope="col">Address</th>
                <th scope="col">Phone</th>
                <th scope="col">Gender</th>
                <th scope="col">Role</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in users">
                <th scope="row">{[{ user.id }]}</th>
                <td>{[{ user.username }]}</td>
                <td>{[{ user.firstName + ' ' + user.lastName }]}</td>
                <td>{[{ user.address }]}</td>
                <td>{[{ user.phone }]}</td>
                <td>{[{ user.gender == constants.genders.male ? 'Male' : 'Female' }]}</td>
                <td>{[{ user.role }]}</td>
                <td>
                    <button ng-show="$root.authenticatedUser.permissions.includes('update_user')" type="button" class="btn btn-primary" ng-click="openUpdateUserModal($index)"><i
                            class="glyphicon glyphicon-pencil"></i></button>
                    <button ng-show="$root.authenticatedUser.permissions.includes('delete_user')" type="button" class="btn btn-danger" ng-click="openDeleteUserPopup($index)"><i
                            class="glyphicon glyphicon-remove"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<user-detail-modal action-type="actionType" user="currentUser"></user-detail-modal>
