<div class="modal fade" id="userDetailModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cancelHandler()">&times;</button>
                <h4 class="modal-title">{[{ $ctrl.actionType == 'create' ? 'Create' : 'Update' }]} User</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="userForm" id="userForm">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="username">Username</label>
                        <div class="col-sm-9">
                            <input ng-model="$ctrl.user.username" type="text" class="form-control" name="username" id="username" required ng-pattern="/^[a-zA-Z]*$/">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="password">Password</label>
                        <div class="col-sm-9">
                            <a ng-show="!$ctrl.changePassword" ng-click="$ctrl.changePassword = !$ctrl.changePassword">Change password</a>
                            <input ng-show="$ctrl.changePassword" ng-model="$ctrl.user.password" type="password" class="form-control" name="password" id="password" ng-required="$ctrl.changePassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="first-name">First name</label>
                        <div class="col-sm-9">
                            <input ng-model="$ctrl.user.firstName" type="text" class="form-control" name="first-name" id="first-name" required ng-pattern="/^[a-zA-Z ]*$/">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="last-name">Last name</label>
                        <div class="col-sm-9">
                            <input ng-model="$ctrl.user.lastName" type="text" class="form-control" name="last-name" id="last-name" required ng-pattern="/^[a-zA-Z ]*$/">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="address">Address</label>
                        <div class="col-sm-9">
                            <input ng-model="$ctrl.user.address" type="text" class="form-control" id="address" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="phone">Phone</label>
                        <div class="col-sm-9">
                            <input ng-model="$ctrl.user.phone" type="text" class="form-control" id="phone" minlength="10" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">Gender</label>
                        <div class="col-sm-9">
                            <input ng-model="$ctrl.user.gender" name="gender" ng-value="$ctrl.constants.genders.male" type="radio" id="gender-male" required>
                            <label for="gender-male">Male</label>

                            <input ng-model="$ctrl.user.gender" name="gender" ng-value="$ctrl.constants.genders.female" type="radio" id="gender-female" required>
                            <label for="gender-female">Female</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="role">Role</label>
                        <div class="col-sm-9">
                            <select ng-model="$ctrl.user.roleId" id="role" class="form-control" required>
                                <option ng-repeat="role in $ctrl.roles" ng-value="role.id" ng-selected="$index == 2 ? 'selected' : ''">{[{ role.name }]}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$ctrl.submitHandler()" >Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.cancelHandler()" >Close</button>
            </div>
        </div>
    </div>
</div>