<nav class="navbar">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">User management</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-show="$root.authenticatedUser.permissions.includes('view_user')"><a href="#!/">Users <span class="sr-only">(current)</span></a></li>
                <li ng-show="$root.authenticatedUser.permissions.includes('view_role')"><a href="#!/roles">Roles</a></li>
                <li ng-show="$root.authenticatedUser.permissions.includes('view_permission')"><a href="#!/permissions">Permissions</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-show="!$root.authenticatedUser"><a href="#!/login">Login</a></li>

                <li ng-show="$root.authenticatedUser" class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hi {[{ $root.authenticatedUser.firstName + ' ' + $root.authenticatedUser.lastName + ' ('+ $root.authenticatedUser.role +'),' }]}  <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a ng-click="$ctrl.logoutClickHandler()">Logout</a></li>
                    </ul>
                </li>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>