<div class="modal fade" id="roleDetailModal" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="$ctrl.cancelHandler()">&times;</button>
                <h4 class="modal-title">{[{ $ctrl.actionType == 'create' ? 'Create' : 'Update' }]} Role</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" name="roleForm" id="roleForm">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="name">Name</label>
                        <div class="col-sm-9">
                            <input ng-model="$ctrl.role.name" type="text" class="form-control" name="name" id="name" required ng-pattern="/^[a-zA-Z ]*$/">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="permissions">Permissions</label>
                        <div class="col-sm-9">
                            <select ng-model="$ctrl.role.permissions" id="permissions" class="form-control" multiple required size="12">
                                <option ng-repeat="permission in $ctrl.permissions" ng-value="permission.id" ng-selected="$index == 2 ? 'selected' : ''">{[{ permission.name }]}</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" ng-click="$ctrl.submitHandler()" >Save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.cancelHandler()" >Close</button>
            </div>
        </div>
    </div>
</div>