<form class="form-horizontal" name="loginForm" id="loginForm">
    <div class="form-group">
        <label class="control-label col-sm-5" for="username">Username</label>
        <div class="col-sm-3">
            <input ng-model="$ctrl.user.username" type="text" class="form-control" name="username" id="username" required ng-pattern="/^[a-zA-Z ]*$/">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-5" for="password">Password</label>
        <div class="col-sm-3">
            <input ng-model="$ctrl.user.password" type="password" class="form-control" name="password" id="password" required>
        </div>
    </div>
    <div class="form-group">
        <div class="text-danger text-center col-sm-3 col-sm-offset-5">{[{ $ctrl.errorMessage }]}</div>
    </div>
    <div class="form-group">
        <button type="button" class="btn btn-default col-sm-offset-6" ng-click="$ctrl.submitHandler()" >Submit</button>
    </div>
</form>