{% extends "base.html.twig" %}

{% block title %}User management{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
{% endblock %}

{% block body %}
    <header-component></header-component>
    <div class="container">
        <div ng-view></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.0/angular-route.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="/app/ng.module.js"></script>
    <script src="/app/components/users/user.component.js"></script>
    <script src="/app/components/users/detail/detail.component.js"></script>

    <script src="/app/components/roles/role.component.js"></script>
    <script src="/app/components/roles/detail/detail.component.js"></script>

    <script src="/app/components/permissions/permission.component.js"></script>
    <script src="/app/components/permissions/detail/detail.component.js"></script>

    <script src="/app/components/login/login.component.js"></script>
    <script src="/app/components/header/header.component.js"></script>

{% endblock %}