<h2>Role management</h2>
<button type="button" class="btn btn-success" ng-click="openCreateModal()"><i class="glyphicon glyphicon-plus"></i>
</button>

<div class="user-management">

    <div class="table-responsive">
        <table ng-cloak class="table table-hover">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="role in roles">
                <th scope="row">{[{ role.id }]}</th>
                <td>{[{ role.name }]}</td>
                <td>
                    <button ng-show="$root.authenticatedUser.permissions.includes('update_role')" type="button" class="btn btn-primary" ng-click="openUpdateModal($index)"><i
                            class="glyphicon glyphicon-pencil"></i></button>
                    <button ng-show="$root.authenticatedUser.permissions.includes('delete_role')" type="button" class="btn btn-danger" ng-click="openDeletePopup($index)"><i
                            class="glyphicon glyphicon-remove"></i></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<role-detail-modal></role-detail-modal>
